<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
</head>
<body>
	<div class="container">
	
		

		<div id="myDiv" style="width: 800px"><!-- Plotly chart will be drawn inside this DIV --></div>

	
	</div>
</body>
<script>

	var socket = io.connect('/');
	socket.emit("private message", function(data){
		console.log(data);
	})
	socket.on('news', function (data) {
		
		console.log(data);
		var x = [],y = [];
		for(var i=0; i<32; i++){
			x[i]=i;
			y[i]=Number(data.hello[i]);
		}

		var trace1 = {
			x: x,
			y: y,
			type: 'scatter'
		};
		var dataset = [trace1]; 
		Plotly.newPlot('myDiv', dataset);


		socket.emit('my other event', { my: 'data2' });

	});
	socket.on('foo', function(msg) {
		console.info(msg);
	});
</script>
</html>
